@{
    //Layout = "_Layout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Cadastrar Vaga";
}

@if (TempData["Mensagem"] != null) {
    <div class="alert alert-success mt-md-2" role="alert">
        @TempData["Mensagem"]
    </div>
}

<form method="post">
    <div class="row g-2 mt-md-2">
        @*<div class="form-group mt-md-2">
                <label for="nome">Nome:</label>
                <input type="text" name="nome" value="" class="form-control" id="nome" placeholder="Digite o seu nome">
                @Html.ValidationMessage("nome")
            </div>*@
        @*<div class="form-group mt-md-2">
                <label for="email">E-mail:</label>
                <input type="text" name="email" value="" class="form-control" id="email" placeholder="Exemplo@exemplo.com">

            </div>*@
        @*<div class="form-group mt-md-2">
                <label for="assunto">Assunto:</label>
                <input type="text" name="assunto" value="" class="form-control" id="assunto" placeholder="Digite o assunto">
                @Html.ValidationMessage("assunto")
            </div>*@
        @*<div class="form-floating mt-md-2">
                <label for="mensagem">Mensagem:</label>
                <textarea name="mensagem" class="form-control" id="mensagem"></textarea>
                @Html.ValidationMessage("mensagem")
            </div>*@
        <div class="col-md">
            <div class="form-floating">
                <input type="text" class="form-control" id="titulo">
                <label for="titulo">Titulo:</label>
                @Html.ValidationMessage("titulo")
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating">
                <input type="text" class="form-control" id="categoria">
                <label for="categoria">Categoria:</label>
                @Html.ValidationMessage("categoria")
            </div>
        </div>
    </div>
    <div class="row g-2 mt-md-2">
        <div class="col-md">
            <div class="form-floating">
                <textarea type="text" class="form-control" id="descricao"></textarea>
                <label for="descricao">Descrição:</label>
                @Html.ValidationMessage("mensagem")
            </div>
        </div>
    </div>
    <div class="row g-2 mt-md-2">
        <div class="col-md">
            <div class="form-floating">
                <input type="text" class="form-control" id="local">
                <label for="local">Local:</label>
                @Html.ValidationMessage("local")
            </div>
        </div>
        <button type="submit" class="btn btn-success mt-md-2" style="align-items:center">Cadastrar</button>
    </div>
    @*<div class="row g-2 mt-md-2">
            <div class="col-md">
                <div class="form-floating">
                    <input type="email" class="form-control" id="email">
                    <label for="email">Email:</label>
                    @Html.ValidationMessage("email")
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                        <option selected>Selecione</option>
                        <option value="1">Masculino</option>
                        <option value="2">Feminino</option>
                    </select>
                    <label for="sexo">Sexo:</label>
                </div>
            </div>
        </div>*@
</form>