@model SyrusVoluntariado.Models.Usuario
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Cadastrar-se";
}



<link href="/css/login.css" rel="stylesheet" type="text/css" />
<link href="/css/FundoPaginas.css" rel="stylesheet" type="text/css" />

<form method="post" action="/login/cadastrarusuario">

    <div class="row g-2 mt-md-1">
        <section class="login-pai">
            <div class="cadastro__filho">
                <div class="col-md">
                    <div class="botoes-entrar">
                        <div class="btn-group mb-md-3">
                            <a href="" aria-current="page" class="btn btn-primary active" id="ativobotao">Cadastrar-se</a>
                            <a href="/login" class="btn btn-primary" id="cadastroLogin">Entrar</a>
                        </div>
                    </div>
                    <input type="hidden" name="id" value="@Model.Id" />
                    @if (TempData["MensagemErro"] != null)
                    {
                        <div class="alert alert-danger alertemail" role="alert">
                            @TempData["MensagemErro"]
                        </div>
                    }
                    <div class="form-floating emailLogin">
                        <input type="text" name="nome" value="@Model.Nome" class="form-control logininput" id="nome" placeholder="">
                        <label for="nome">Nome Completo:</label>
                        @Html.ValidationMessage("nome")
                    </div>

                    <div class="form-floating" id="">
                        <select asp-for="Sexo" type="text" class="form-select marginesquerda-99" id="" name="sexo" placeholder="">
                            <option value="" selected="@(Model.Sexo == null)">Selecione...</option>
                            <option value="1" selected="@(Model.Sexo == 1)">Masculino</option>
                            <option value="2" selected="@(Model.Sexo == 2)">Feminino</option>
                            <option value="3" selected="@(Model.Sexo == 3)">Não declarar</option>
                        </select>
                        <label for="sexo">Sexo:</label>
                        @Html.ValidationMessage("sexo")
                    </div>
                    <div class="form-floating emailLogin">
                        <input type="text" name="email" value="@Model.Email" class="form-control logininput" id="email" placeholder="">
                        <label for="email">Email:</label>
                        @Html.ValidationMessage("email")
                    </div>
                    <div class="form-floating emailLogin">
                        <input type="password" name="senha" value="@Model.Senha" class="form-control logininput" id="senha" placeholder="">
                        <label for="senha">Senha:</label>
                        @Html.ValidationMessage("senha")
                    </div>
                    <div class="botaologar">
                        <button type="submit" class="btn btn-success mt-md-2">Cadastrar</button>
                    </div>
                </div>
            </div>

        </section>
    </div>


</form>

@ViewBag.Mesagem
