@model BeaHelper.BLL.BD.Usuario_P1

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Meu Perfil";

    var filtro = @ViewBag.Filtro;
    var MeusEventosCriados = @ViewBag.MeusEventosCriados;
    var idusu = 0;
    idusu = @ViewBag.idusuario;
}

<link href="/css/FundoPaginas.css" rel="stylesheet" type="text/css" />

<div class="perfil-tudo">
    <nav>
        <div class="nav nav-tabs CorTabs" id="nav-tab" role="tablist">
            <button class="nav-link CorTabs active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true"><strong>Meus Dados</strong></button>
            <button class="nav-link CorTabs" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false"><strong>Meus Eventos</strong> </button>
            <button class="nav-link CorTabs" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false"><strong>Eventos Voluntariados</strong></button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent" style="margin-top: 10px;">
        <div class="tab-pane fade show active perfil-infos" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div style="display: flex; flex-direction: row; justify-content: flex-end;">
                <button id="editarPerfil" style="padding-right: 1px; padding-left: 1px; padding-top: 1px;"><img src="/img/84380.png" width="40" height="40" alt="Editar Perfil" /></button>
            </div>
            <table class="table table-borderless" style="margin-top: -40px;" id="fontePerfil">
                <tbody>
                    <tr>
                        <th scope="row">Nome</th>
                        <td id="campoNome">@Model.Nome</td>
                    </tr>
                    <tr>
                        <th scope="row">Email</th>
                        <td id="campoEmail">@Model.Email</td>
                    </tr>
                    <tr>
                        <th scope="row">Sexo</th>
                        <td>@ViewBag.UsuarioSexo</td>
                    </tr>
                    <tr>
                        <th scope="row">Telefone</th>
                        <td id="campoCelular">@Model.NumeroCelular</td>
                    </tr>
                </tbody>
            </table>
            <div style="display: flex; flex-direction: row; justify-content: flex-end;">
                <button id="SalvarPerfil" class="btn btn-success" style="display:none">Salvar</button>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div id="paiDeTodos">
                <div id="PaiFiltro" class="" style="background-color: #222132; color: white; margin-right: 20px; border-radius: 15px; border-color: #ffffff87; border-style: dashed; ">
                    <div>
                        <div style="margin-left: 10px; "><b>Filtrar por</b></div>
                        <form action="/Perfil/FiltroMeusEventos" method="post">
                            <div style="width: 100%; display: flex; flex-direction: column; justify-content: space-between;">
                                <div style="display: flex; flex-direction: row; justify-content: center;">
                                    <div class="form-group" id="CamposForm" style="display: flex; flex-direction: column; max-width: 300px; margin: 10px; width: 100%;">
                                        <label class="control-label" id="labelsAddMeme" style="margin-right: 10px;">Titulo</label>
                                        <input type="text" name="titulo" id="filtroTitulo" value="@filtro.Titulo" />
                                    </div>
                                </div>
                                <div style="display: flex; flex-direction: row; justify-content: center;">
                                    <div class="form-group" id="CamposForm" style="display: flex; flex-direction: column; max-width: 300px; margin: 10px; width: 100%;">
                                        <label class="control-label" id="labelsAddMeme" style="margin-right: 10px;">Descrição</label>
                                        <input type="text" name="descricao" id="filtroDescricao" value="@filtro.Descricao" />
                                    </div>
                                </div>
                                <div style="display: flex; flex-direction: row; justify-content: center;">
                                    <div class="form-group" id="CamposForm" style="display: flex; flex-direction: column; max-width: 300px; margin: 10px; width: 100%;">
                                        <label class="control-label" id="labelsAddMeme" style="margin-right: 10px;">Categoria</label>
                                        <div class="options">
                                            <select class="form-select" id="filtroCategoria" aria-label="Default select example" name="Categoria">
                                                <option value="" selected="@(filtro.Categoria == null)">Selecione</option>
                                                <option value="Alimentação" selected="@(filtro.Categoria == " Alimentação")">Alimentação</option>
                                                <option value="Tecnologia" selected="@(filtro.Categoria == " Tecnologia")">Tecnologia</option>
                                                <option value="Entrega" selected="@(filtro.Categoria == " Entrega")">Entrega</option>
                                                <option value="Serviços Gerais" selected="@(filtro.Categoria == " Serviços Gerais")">Serviços Gerais</option>
                                                <option value="Outro" selected="@(filtro.Categoria == " Outro")">Outro</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div style="display: flex; flex-direction: row; justify-content: center;">
                                    <div class="form-group" id="CamposForm" style="display: flex; flex-direction: column; max-width: 300px; margin: 10px; width: 100%;">
                                        <label class="control-label" id="labelsAddMeme" style="margin-right: 10px;">Local</label>
                                        <input type="text" name="local" id="local" value="@filtro.Local" />
                                    </div>
                                </div>
                                <div class="form-group" id="CamposForm" style="display: flex; flex-direction: row; max-width: 300px; margin: 10px; justify-content: center;">
                                    <button class="btn btn-info" type="submit">Filtrar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="PaiTabEventos">
                    <div>
                        @if (MeusEventosCriados.Count == 0 || MeusEventosCriados == null)
                        {
                            <table class="table table-dark">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row" style="display: flex;justify-content: center;">Nenhum evento encontrado!</th>
                                    </tr>
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <table class="table table-dark">
                                <thead>
                                    <tr>
                                        <th scope="col">Titulo</th>
                                        <th scope="col">Descrição</th>
                                        <th scope="col">Categoria</th>
                                        <th scope="col">Local</th>
                                        <th scope="col">Status</th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var evento in MeusEventosCriados)
                                    {
                                        <tr>
                                            <th scope="row">@evento.Titulo</th>
                                            <td>@evento.Descricao</td>
                                            <td>@evento.Categoria</td>
                                            <td>@evento.Cidade_Estado</td>
                                            <td>@evento.StatusEvento</td>
                                            <td>
                                                <a href="/evento/visualizar/@evento.Id_Evento" class="btn btn-light">Visualizar</a>
                                            </td>
                                            @if (@evento.StatusEvento == "Inativo")
                                            {
                                                <td>
                                                    <a href="/evento/editar/?Id=@evento.Id_Evento&reativando=true" class="btn btn-light">Reativar</a>
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    <a href="/evento/ListaVoluntarios/@evento.Id_Evento" class="btn btn-light">Voluntários</a>
                                                </td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <div id="paiDeTodos">
                <div id="PaiFiltro" class="" style="background-color: #222132; color: white; margin-right: 20px; border-radius: 15px; border-color: #ffffff87; border-style: dashed; ">
                    <div>
                        <div style="margin-left: 10px; "><b>Filtrar por</b></div>
                        <form action="/Perfil/FiltroEventosCandidatados" method="post">
                            <div style="width: 100%; display: flex; flex-direction: column; justify-content: space-between;">
                                <div style="display: flex; flex-direction: row; justify-content: center;">
                                    <div class="form-group" id="CamposForm" style="display: flex; flex-direction: column; max-width: 300px; margin: 10px; width: 100%;">
                                        <label class="control-label" id="labelsAddMeme" style="margin-right: 10px;">Titulo</label>
                                        <input type="text" name="titulo" id="filtroTitulo" value="@filtro.Titulo" />
                                    </div>
                                </div>
                                <div style="display: flex; flex-direction: row; justify-content: center;">
                                    <div class="form-group" id="CamposForm" style="display: flex; flex-direction: column; max-width: 300px; margin: 10px; width: 100%;">
                                        <label class="control-label" id="labelsAddMeme" style="margin-right: 10px;">Descrição</label>
                                        <input type="text" name="descricao" id="filtroDescricao" value="@filtro.Descricao" />
                                    </div>
                                </div>
                                <div style="display: flex; flex-direction: row; justify-content: center;">
                                    <div class="form-group" id="CamposForm" style="display: flex; flex-direction: column; max-width: 300px; margin: 10px; width: 100%;">
                                        <label class="control-label" id="labelsAddMeme" style="margin-right: 10px;">Categoria</label>
                                        <div class="options">
                                            <select class="form-select" id="filtroCategoria" aria-label="Default select example" name="Categoria">
                                                <option value="" selected="@(filtro.Categoria == null)">Selecione</option>
                                                <option value="Alimentação" selected="@(filtro.Categoria == " Alimentação")">Alimentação</option>
                                                <option value="Tecnologia" selected="@(filtro.Categoria == " Tecnologia")">Tecnologia</option>
                                                <option value="Entrega" selected="@(filtro.Categoria == " Entrega")">Entrega</option>
                                                <option value="Serviços Gerais" selected="@(filtro.Categoria == " Serviços Gerais")">Serviços Gerais</option>
                                                <option value="Outro" selected="@(filtro.Categoria == " Outro")">Outro</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div style="display: flex; flex-direction: row; justify-content: center;">
                                    <div class="form-group" id="CamposForm" style="display: flex; flex-direction: column; max-width: 300px; margin: 10px; width: 100%;">
                                        <label class="control-label" id="labelsAddMeme" style="margin-right: 10px;">Local</label>
                                        <input type="text" name="local" id="local" value="@filtro.Local" />
                                    </div>
                                </div>
                                <div class="form-group" id="CamposForm" style="display: flex; flex-direction: row; max-width: 300px; margin: 10px; justify-content: center;">
                                    <button class="btn btn-info" type="submit">Filtrar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="PaiTabEventos">
                    <table class="table table-dark">
                        <thead>
                            <tr>
                                <th scope="col">Titulo</th>
                                <th scope="col">Descrição</th>
                                <th scope="col">Categoria</th>
                                <th scope="col">Local</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var evento in @ViewBag.EventosCandidatados)
                            {
                                <tr>
                                    <th scope="row">@evento.Titulo</th>
                                    <td>@evento.Descricao</td>
                                    <td>@evento.Categoria</td>
                                    <td>@evento.CidadeEstado</td>
                                    <td>
                                        <a href="/evento/visualizar/@evento.IdEvento" class="btn btn-light">Visualizar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    @*<div class="botoes-perfil">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a class="btn Botao-MeusEventos btn-lg" href="/perfil/meuseventos"><b>Meus Eventos</b></a>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end ms-2">
                <a class="btn Botao-EventosCandidatados btn-lg" href="/perfil/eventoscandidatados"><b>Eventos Voluntariados</b></a>
            </div>
        </div>*@
</div>
<script>
    let campoNome = "";
    let campoEmail = "";
    let campoCelular = "";

    var el = document.getElementById('editarPerfil');
    if (el) {
        el.addEventListener('click', event => {

            document.querySelector('#campoNome').innerHTML = `<input id="icampoNome" type="type" name="nome" value="${"@Model.Nome"}"/>`;
            document.querySelector('#campoEmail').innerHTML = `<input id="icampoEmail" type="type" name="nome" value="${"@Model.Email"}"/>`;
            document.querySelector('#campoCelular').innerHTML = `<input id="icampoCelular" type="type" name="nome" value="${"@Model.NumeroCelular"}"/>`;

            document.getElementById('SalvarPerfil').style.display = "block";
        })
    }



    var el = document.getElementById('SalvarPerfil');
    if (el) {
        el.addEventListener('click', event => {

            campoNome = document.querySelector('#icampoNome').value;
            campoEmail = document.querySelector('#icampoEmail').value;
            campoCelular = document.querySelector('#icampoCelular').value;

            document.getElementById('SalvarPerfil').style.display = "none";
            document.querySelector('#campoNome').innerHTML = `<td id="campoNome">${campoNome}</td>`;
            document.querySelector('#campoEmail').innerHTML = `<td id="campoEmail">${campoEmail}</td>`;
            document.querySelector('#campoCelular').innerHTML = `<td id="campoCelular">${campoCelular}</td>`;

            let SITE_URL = window.location.origin;
            var _usuario = { Id_Usuario: @idusu, Nome: campoNome, Email: campoEmail, NumeroCelular: campoCelular };

            $.ajax({
                type: "POST",
                url: SITE_URL + "/perfil/editardadosperfil",
                dataType: "json",
                data: { usuario: _usuario },
                sucess: function (data) {

                },
                error: function () {

                }
            });
        })
    }
</script>
