@model List<SyrusVoluntariado.BLL.Vaga_P1>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Eventos Candidatados";
}

<div class="mt-md-3">
    @if (TempData["Mensagem"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["Mensagem"]
        </div>
    }
</div>

<div class="mt-md-3">
    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger alertemail" role="alert">
            @TempData["MensagemErro"]
        </div>
    }
</div>

<link href="/css/PagedList.css" rel="stylesheet" type="text/css" />
<link href="/css/FundoPaginas.css" rel="stylesheet" type="text/css" />

<span> <b>Total de Eventos:</b> @Model.Count</span>
<table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col">Titulo</th>
            <th scope="col">Descrição</th>
            <th scope="col">Categoria</th>
            <th scope="col">Local</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody class="tab-list-vagas">
        @foreach (var vaga in Model)
        {
            <tr>
                <th scope="row">@vaga.Titulo</th>
                <td>@vaga.Descricao</td>
                <td>@vaga.Categoria</td>
                <td>@vaga.CidadeEstado</td>
                <td>
                    <a href="/vaga/visualizar/@vaga.IdVaga" class="btn">Visualizar</a>
                </td>
            </tr>
        }
    </tbody>
</table>






