@model SyrusVoluntariado.Models.Vaga
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Cadastrar Evento";
}

@if (TempData["Mensagem"] != null) {
    <div class="alert alert-success mt-md-2" role="alert">
        @TempData["Mensagem"]
    </div>
}
<link href="/css/FundoPaginas.css" rel="stylesheet" type="text/css" />
<section >
    <form method="post">
        <input type="hidden" name="id_Vaga" value="@Model.Id_Vaga" />
        @*<input type="hidden" name="dataPublicacao" value="@Model.DataPublicacao = @DateTime.Now.ToString("dd/MM/yyyy");" />*@

        <div class="row g-2 mt-md-2">
            <div class="col-md">
                <div class="form-floating">
                    <input type="text" name="titulo" value="@Model.Titulo" class="form-control" id="titulo" placeholder="">
                    <label for="titulo">Titulo:</label>
                    @Html.ValidationMessage("titulo")
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input type="text" name="categoria" value="@Model.Categoria" class="form-control" id="categoria" placeholder="">
                    <label for="categoria">Categoria:</label>
                    @Html.ValidationMessage("categoria")
                </div>
            </div>
        </div>
        <div class="row g-2 mt-md-2">
            <div class="col-md">
                <div class="form-floating">
                    <textarea type="text" name="descricao" value="@Model.Descricao" class="form-control" id="descricao" placeholder="" style="margin-top: 0px; margin-bottom: 0px; height: 83px;"></textarea>
                    <label for="descricao">Descrição:</label>
                    @Html.ValidationMessage("descricao")
                </div>
            </div>
        </div>

        <div class="row g-2 mt-md-2">
            <div class="col-md">
                <div class="form-floating">
                    <input type="text" name="Cidade_Estado" value="@Model.Cidade_Estado" class="form-control" id="Cidade_Estado" placeholder="">
                    <label for="Cidade_Estado">Local:</label>
                    @Html.ValidationMessage("local")
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input id="dataEvento" type="datetime-local" class="form-control" name="DataEvento" value="@Model.DataEvento">
                    <label for="dataEvento">Data do Evento:</label>
                    @Html.ValidationMessage("dataevento")
                </div>
            </div>

            <button type="submit" class="btn btn-success mt-md-2" style="align-items:center">@ViewBag.CadastrarAtualizar</button>
        </div>
    </form>
</section>
