@model X.PagedList.IPagedList<SyrusVoluntariado.Models.UsuarioCompleto>
@using X.PagedList.Mvc.Core;
@using X.PagedList;


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Voluntários";
}

<div class="mt-md-3">
    @if (TempData["Mensagem"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["Mensagem"]
        </div>
    }
</div>
<div class="mt-md-3">
    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger alertemail" role="alert">
            @TempData["MensagemErro"]
        </div>
    }
</div>

<link href="/css/PagedList.css" rel="stylesheet" type="text/css" />
<link href="/css/FundoPaginas.css" rel="stylesheet" type="text/css" />

<span> <b>Total de Voluntários:</b> @Model.TotalItemCount</span>
<table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Sexo</th>
            <th scope="col">NotaMedia Media do Voluntário</th>
            <th></th>
        </tr>
    </thead>

    <tbody class="tab-list-vagas">
        @foreach (var usuario in Model)
        {
            <tr>
                <th scope="row">@usuario.Nome</th>
                <td>@usuario.Email</td>
                @if (usuario.Sexo == 1)
                {
                    <td>Masculino</td>
                }
                else if (usuario.Sexo == 2)
                {
                    <td>Feminino</td>
                }
                else
                {
                    <td>Prefiro não declarar</td>
                }

                <td>
                    <div>
                        @if (usuario.NotaMedia > 0)
                        {
                            <a>
                                <img src="/img/star1.png" id="s1">
                            </a>
                        }
                        else
                        {
                            <p>Nenhuma Avaliação</p>
                        }
                        @if (usuario.NotaMedia > 1)
                        {
                            <a>
                                <img src="/img/star1.png" id="s2">
                            </a>
                        }
                        else if (usuario.NotaMedia > 0)
                        {
                            <a>
                                <img src="/img/star0.png" id="s2">
                            </a>
                        }
                        @if (usuario.NotaMedia > 2)
                        {
                            <a>
                                <img src="/img/star1.png" id="s3">
                            </a>
                        }
                        else if (usuario.NotaMedia > 0)
                        {
                            <a>
                                <img src="/img/star0.png" id="s3">
                            </a>
                        }
                        @if (usuario.NotaMedia > 3)
                        {
                            <a>
                                <img src="/img/star1.png" id="s4">
                            </a>
                        }
                        else if (usuario.NotaMedia > 0)
                        {
                            <a>
                                <img src="/img/star0.png" id="s4">
                            </a>
                        }
                        @if (usuario.NotaMedia > 4)
                        {
                            <a>
                                <img src="/img/star1.png" id="s5">
                            </a>
                        }
                        else if (usuario.NotaMedia > 0)
                        {
                            <a>
                                <img src="/img/star0.png" id="s5">
                            </a>
                        }
                    </div>
                </td>
                <td>
                    <a class="btn btn-info ms-md-2" href="/avaliar/index/@usuario.Id">Avaliar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))

