@model BeaHelper.BLL.BD.Vaga_P1
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Visualizar Evento";
    ViewBag.Id = Model.IdVaga;
}
<link href="/css/FundoPaginas.css" rel="stylesheet" type="text/css" />

<div>
    <div class="info__filho">
        <div class="" id="">
            <div class="accordion-item">
                <div style="background-color: #62c0a3;" id="DadosVagaVisualizar" class="">
                    <div class="accordion-body">
                        <strong>TITULO DO EVENTO</strong>
                    </div>
                </div>
                <div id="DadosVagaVisualizar" class="">
                    <div class="accordion-body">
                        @Model.Titulo
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <div style="background-color: #62c0a3;" id="DadosVagaVisualizar" class="">
                    <div class="accordion-body">
                        <strong>DESCRIÇÃO</strong>
                    </div>
                </div>
                <div id="DadosVagaVisualizar" class="">
                    <div class="accordion-body">
                        @Model.Descricao
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <div style="background-color: #62c0a3;" id="DadosVagaVisualizar" class="">
                    <div class="accordion-body">
                        <strong>LOCAL</strong>
                    </div>
                </div>
                <div id="DadosVagaVisualizar" class="">
                    <div class="accordion-body">
                        @Model.CidadeEstado
                    </div>
                </div>
            </div>
            @if (@Model.DataEvento != null)
            {
 
                string Data = @Model.DataEvento.GetValueOrDefault().ToString("dd/MM/yyyy");
                string Hora = @Model.DataEvento.GetValueOrDefault().ToString("HH:mm");
                string DataHora = Data + " ás " + Hora;

                <div class="accordion-item">
                    <div style="background-color: #62c0a3;" id="DadosVagaVisualizar" class="">
                        <div class="accordion-body">
                            <strong>DATA DO EVENTO</strong>
                        </div>
                    </div>
                    <div id="DadosVagaVisualizar" class="">
                        <div class="accordion-body">
                            @DataHora
                        </div>
                    </div>
                </div>
            }

            @if (ViewBag.ADMVaga == true)
            {
                <div id="Adm__Mensagem">
                    <div class="alert alert-danger mt-md-2" id="Adm-Mensagem" role="alert">
                        Você é administrador desta vaga!
                    </div>
                </div>
                <div class="AdmVisualizando mt-md-2">
                    <a class="btn btn-info" href="/vaga/editar/@Model.IdVaga">Editar</a>
                    <a class="btn btn-danger ms-2" onclick="ConfirmacaoExcluirVaga();">Excluir</a>
                </div>
            }
            else if (ViewBag.JaVoluntariado == true)
            {
                @if (TempData["MensagemErro"] != null)
                {
                    <div id="Adm__Mensagem" class="mt-md-2">
                        <div class="alert alert-danger alertemail" role="alert">
                            @TempData["MensagemErro"]
                        </div>
                    </div>
                }
                <div class="botao-voluntariar">
                    <button class="btn btn-success" disabled>Já Voluntariado</button>
                </div>
            }
            else
            {
                <div class="botao-voluntariar">
                    <button class="btn btn-success" id="BotaoVoluntatiarMe" onclick="voluntariarNaVaga();">Voluntariar-me</button>
                </div>
            }
        </div>
    </div>
</div>
<script>
    var idVaga = @Model.IdVaga;
</script>