@model BeaHelper.BLL.BD.Vaga_P1
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Visualizar Evento";
    ViewBag.Id = Model.IdVaga;
}
<link href="/css/FundoPaginas.css" rel="stylesheet" type="text/css" />

<div>
    <div class="info__filho">
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button style="background-color: #62c0a3;" class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                        <b>TITULO DO EVENTO</b>
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                        @Model.Titulo
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    <button style="background-color: #62c0a3;" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                        <b>DESCRIÇÃO</b>
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingTwo">
                    <div class="accordion-body">
                        @Model.Descricao
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    <button style="background-color: #62c0a3;" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                        <b>LOCAL</b>
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingThree">
                    <div class="accordion-body">
                        @Model.CidadeEstado
                    </div>
                </div>
            </div>
            @if (@Model.DataEvento != null)
            {
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                        <button style="background-color: #62c0a3;" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                            <b>DATA DO EVENTO</b>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingFour">
                        <div class="accordion-body">
                            @Model.DataEvento.GetValueOrDefault().ToString("dd/MM/yyyy")
                        </div>
                    </div>
                </div>
            }
            @if (ViewBag.ADMVaga == true)
            {
                <div id="Adm__Mensagem">
                    <div class="alert alert-danger mt-md-2" id="Adm-Mensagem" role="alert">
                        Você é administrador desta vaga!
                    </div>
                </div>
                <div class="AdmVisualizando mt-md-2">
                    <a class="btn btn-info" href="/vaga/editar/@Model.IdVaga">Editar</a>
                    <a class="btn btn-danger ms-2" onclick="ConfirmacaoExcluirVaga();">Excluir</a>
                </div>
            }
            else if (ViewBag.JaVoluntariado == true)
            {
                @if (TempData["MensagemErro"] != null)
                {
                    <div id="Adm__Mensagem" class="mt-md-2">
                        <div class="alert alert-danger alertemail" role="alert">
                            @TempData["MensagemErro"]
                        </div>
                    </div>
                }
                <div class="botao-voluntariar">
                    <button class="btn btn-success" disabled>Já Voluntariado</button>
                </div>
            }
            else
            {
                <div class="botao-voluntariar">
                    <button class="btn btn-success" id="BotaoVoluntatiarMe" onclick="voluntariarNaVaga();">Voluntariar-me</button>
                </div>
            }
        </div>
    </div>
</div>
<script>
    var idVaga = @Model.IdVaga;
</script>