@model BeaHelper.BLL.Models.Evento
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Cadastrar Evento";
}

@if (TempData["Mensagem"] != null)
{
    <div class="alert alert-success mt-md-2" role="alert">
        @TempData["Mensagem"]
    </div>
}
<link href="/css/FundoPaginas.css" rel="stylesheet" type="text/css" />
<div>
    <form method="post">
        <input type="hidden" name="id_Evento" value="@Model.Id_Evento" />
        @*<input type="hidden" name="dataPublicacao" value="@Model.DataPublicacao = @DateTime.Now.ToString("dd/MM/yyyy");" />*@

        <div class="row g-2 mt-md-2">
            <div class="col-md">
                <div class="form-floating">
                    <input type="text" name="titulo" value="@Model.Titulo" class="form-control" id="titulo" placeholder="">
                    <label for="titulo">Titulo:</label>
                    @Html.ValidationMessage("titulo")
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <select asp-for="categoria" type="text" class="form-select marginesquerda-99" id="" name="categoria" placeholder="">
                        <option value="" selected="@(Model.Categoria == null)">Selecione...</option>
                        <option value="Alimentação" selected="@(Model.Categoria == "Alimentação")">Alimentação</option>
                        <option value="Tecnologia" selected="@(Model.Categoria == "Tecnologia")">Tecnologia </option>
                        <option value="Entrega" selected="@(Model.Categoria == "Entrega")">Entrega</option>
                        <option value="Serviços Gerais" selected="@(Model.Categoria == "Serviços Gerais")">Serviços Gerais</option>
                        <option value="Outro" selected="@(Model.Categoria == "Outro")">Outro</option>
                    </select>
                    <label for="categoria">Categoria:</label>
                    @Html.ValidationMessage("categoria")
                </div>
            </div>
        </div>
        <div class="row g-2 mt-md-2">
            <div class="col-md">
                <div class="form-floating">
                    <textarea type="text" name="descricao" class="form-control" id="descricao" placeholder="" style="margin-top: 0px; margin-bottom: 0px; height: 83px;">@Model.Descricao</textarea>
                    <label for="descricao">Descrição:</label>
                    @Html.ValidationMessage("descricao")
                </div>
            </div>
        </div>

        <div class="row g-2 mt-md-2">
            <div class="col-md">
                <div class="form-floating">
                    <input type="text" name="Cidade_Estado" value="@Model.Cidade_Estado" class="form-control" id="Cidade_Estado" autocomplete="off" placeholder="">
                    <ul id="optionsAutComplet" class="sugestoes"></ul>
                    <label for="Cidade_Estado">Local:</label>
                    @Html.ValidationMessage("Cidade_Estado")
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    @if (Model.DataEvento.GetValueOrDefault().ToString("yyyy'-'MM'-'dd'T'HH':'mm") == "0001-01-01T00:00")
                    {
                        <input id="DataEvento" type="datetime-local" class="form-control" name="DataEvento" value="@Model.DataEvento" placeholder="">
                    }
                    else
                    {
                        <input id="DataEvento" type="datetime-local" class="form-control" name="DataEvento" value="@Model.DataEvento.GetValueOrDefault().ToString("yyyy'-'MM'-'dd'T'HH':'mm")" placeholder="">
                    }
                    <label for="DataEvento">Data e Hora inicial do Evento:</label>
                    @TempData["DataEvento"]
                    @Html.ValidationMessage("DataEvento")
                </div>
                <div class="CheckBox_DataEvento">
                    <div class="form-check form-switch">
                        @if (@Model.SemData == true)
                        {
                            <input class="form-check-input" type="checkbox" checked onclick="validaCheckSemData();" name="SemData" value="@Model.SemData" id="SemData">
                        }
                        else
                        {
                            <input class="form-check-input" type="checkbox" onclick="validaCheckSemData();" name="SemData" value="@Model.SemData" id="SemData">
                        }
                        <label class="form-check-label" for="SemData">Não possui data</label>
                    </div>

                    @*<div class="form-check form-switch chk2">
                        @if (@Model.EventoRecorrente == true)
                        {
                            <input class="form-check-input" type="checkbox" checked onclick="validaCheckEventoRecorrente();" name="EventoRecorrente" value="@Model.EventoRecorrente" id="EventoRecorrente">
                        }
                        else
                        {
                            <input class="form-check-input" type="checkbox" onclick="validaCheckEventoRecorrente();" name="EventoRecorrente" value="@Model.EventoRecorrente" id="EventoRecorrente">
                        }
                        <label class="form-check-label" for="EventoRecorrente">Evento recorrente</label>
                    </div>*@
                </div>
            </div>

            <button type="submit" class="btn btn-success mt-md-2" onclick="ValidaCampos();" style="align-items:center">@ViewBag.CadastrarAtualizar</button>
        </div>
    </form>
</div>
<script>
    let coutValorEscolhido = false;
    coutValorEscolhido = @ViewBag.LocalEsolhido
</script>
<script src="~/js/Cadastrar.js"></script>