@model X.PagedList.IPagedList<BeaHelper.BLL.Models.Evento>
@using X.PagedList.Mvc.Core;
@using X.PagedList;


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Eventos - Listagem";
    var eventoVal = Model[0];
}

<div class="mt-md-3">
    @if (TempData["Mensagem"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["Mensagem"]
        </div>
    }
</div>
<div class="mt-md-3">
    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger alertemail" role="alert">
            @TempData["MensagemErro"]
        </div>
    }
</div>
<link href="/css/PagedList.css" rel="stylesheet" type="text/css" />
<link href="/css/FundoPaginas.css" rel="stylesheet" type="text/css" />

<div>
    <div id="PaiFiltro">
        <div>
            <div>Filtrar por</div>
            <form action="/Evento/FiltrarEvento" method="post">
                @foreach (var evento in Model.Take(1))
                {
                    <div style="width: 100%; display: flex; flex-direction: column; justify-content: space-between;">
                        <div class="form-group" id="CamposForm" style="display: flex; flex-direction: row; max-width: 300px; margin: 10px; ">
                            <label class="control-label" id="labelsAddMeme" style="margin-right: 10px;">Titulo</label>
                            <input type="text" name="titulo" id="filtroTitulo" value="@evento.Filtros.Titulo" />
                        </div>
                        <div class="form-group" id="CamposForm" style="display: flex; flex-direction: row; max-width: 300px; margin: 10px; ">
                            <label class="control-label" id="labelsAddMeme" style="margin-right: 10px;">Descrição</label>
                            <input type="text" name="descricao" id="filtroDescricao" value="@evento.Filtros.Descricao" />
                        </div>
                        <div class="form-group" id="CamposForm" style="display: flex; flex-direction: row; max-width: 300px; margin: 10px; ">
                            <label class="control-label" id="labelsAddMeme" style="margin-right: 10px;">Categoria</label>
                            <div class="options">
                                <select class="form-select" id="filtroCategoria" aria-label="Default select example" name="Categoria">
                                    <option value="" selected="@(evento.Filtros.Categoria == null)">Selecione</option>
                                    <option value="Alimentação" selected="@(evento.Filtros.Categoria == "Alimentação")">Alimentação</option>
                                    <option value="Tecnologia" selected="@(evento.Filtros.Categoria == "Tecnologia")">Tecnologia</option>
                                    <option value="Entrega" selected="@(evento.Filtros.Categoria == "Entrega")">Entrega</option>
                                    <option value="Serviços Gerais" selected="@(evento.Filtros.Categoria == "Serviços Gerais")">Serviços Gerais</option>
                                    <option value="Outro" selected="@(evento.Filtros.Categoria == "Outro")">Outro</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" id="CamposForm" style="display: flex; flex-direction: row; max-width: 300px; margin: 10px; ">
                            <label class="control-label" id="labelsAddMeme" style="margin-right: 10px;">Local</label>
                            <input type="text" name="local" id="local" value="@evento.Filtros.Local" />
                        </div>
                        <div class="form-group" id="CamposForm" style="display: flex; flex-direction: row; max-width: 300px; margin: 10px; ">
                            <label class="control-label" id="labelsAddMeme" style="margin-right: 10px;">Eventos Nunca Voluntariados</label>
                            <input type="checkbox" name="FiltroNuncaVoluntariado" id="filtroNuncaVoluntariado" value="@evento.Filtros.FiltroNuncaVoluntariado" />
                        </div>
                        <div class="form-group" id="CamposForm" style="display: flex; flex-direction: row; max-width: 300px; margin: 10px; ">
                            <label class="control-label" id="labelsAddMeme" style="margin-right: 10px;">Eventos Já Voluntariados</label>
                            <input type="checkbox" name="FiltroJaVoluntariado" id="filtroJaVoluntariado" value="@evento.Filtros.FiltroJaVoluntariado" />
                        </div>
                        <div class="form-group" id="CamposForm" style="display: flex; flex-direction: row; max-width: 300px; margin: 10px; ">
                            <button class="btn btn-info" type="submit">Filtrar</button>
                        </div>
                    </div>
                }
            </form>
        </div>
    </div>

    <div id="PaiTabEventos">
        <div>
            @if (eventoVal.Titulo == null && eventoVal.Descricao == null)
            {
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" style="display: flex;justify-content: center;">Nenhum evento encontrado!</th>
                        </tr>
                    </tbody>
                </table>
            }
            else
            {
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col">Titulo</th>
                            <th scope="col">Descrição</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Local</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var evento in Model)
                        {
                            <tr>
                                <th scope="row">@evento.Titulo</th>
                                <td>@evento.Descricao</td>
                                <td>@evento.Categoria</td>
                                <td>@evento.Cidade_Estado</td>
                                <td>
                                    <a href="/evento/visualizar/@evento.Id_Evento" class="btn btn-light">Visualizar</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))

<script src="~/js/funcoes.js"></script>

