@model X.PagedList.IPagedList<BeaHelper.BLL.Models.Evento>
@using X.PagedList.Mvc.Core;
@using X.PagedList;


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Eventos - Listagem";
    var eventoVal = Model[0];
    var idusu = 0;
    idusu = ViewBag.idusuario;
}

<link href="/css/PagedList.css" rel="stylesheet" type="text/css" />
<link href="/css/FundoPaginas.css" rel="stylesheet" type="text/css" />

<div style="width: 100%; display: flex; flex-direction: row; justify-content: flex-end;">
    <div class="form-group" id="CamposForm">
        <label class="control-label" id="labelsAddMeme">Ordenar por</label>
        <div class="options">
            <select class="form-select" id="ordenar" aria-label="Default select example">
                <option value="" selected>Selecione</option>
                <option value="DataMenor">Menor Data</option>
                <option value="DataMaior">Maior Data</option>
            </select>
        </div>
    </div>
</div>
<div id="paiDeTodos">
    <div id="PaiFiltro" class="">
        <div style="background-color: #222132; color: white; margin-right: 20px; border-radius: 15px; border-color: #ffffff87; border-style: dashed; ">
            <div style="margin-left: 10px; "><b>Filtrar por</b></div>
            <form action="/Evento/FiltrarEvento" method="post">
                @foreach (var evento in Model.Take(1))
                {
                    <div style="width: 100%; display: flex; flex-direction: column; justify-content: space-between;">
                        <div style="display: flex; flex-direction: row; justify-content: center;">
                            <div class="form-group" id="CamposForm" style="display: flex; flex-direction: column; max-width: 300px; margin: 10px; width: 100%;">
                                <label class="control-label" id="labelsAddMeme" style="margin-right: 10px;">Titulo</label>
                                <input type="text" name="titulo" id="filtroTitulo" value="@evento.Filtros.Titulo" />
                            </div>
                        </div>
                        <div style="display: flex; flex-direction: row; justify-content: center;">
                            <div class="form-group" id="CamposForm" style="display: flex; flex-direction: column; max-width: 300px; margin: 10px; width: 100%;">
                                <label class="control-label" id="labelsAddMeme" style="margin-right: 10px;">Descrição</label>
                                <input type="text" name="descricao" id="filtroDescricao" value="@evento.Filtros.Descricao" />
                            </div>
                        </div>
                        <div style="display: flex; flex-direction: row; justify-content: center;">
                            <div class="form-group" id="CamposForm" style="display: flex; flex-direction: column; max-width: 300px; margin: 10px; width: 100%;">
                                <label class="control-label" id="labelsAddMeme" style="margin-right: 10px;">Categoria</label>
                                <div class="options">
                                    <select class="form-select" id="filtroCategoria" aria-label="Default select example" name="Categoria">
                                        <option value="" selected="@(evento.Filtros.Categoria == null)">Selecione</option>
                                        <option value="Alimentação" selected="@(evento.Filtros.Categoria == " Alimentação")">Alimentação</option>
                                        <option value="Tecnologia" selected="@(evento.Filtros.Categoria == " Tecnologia")">Tecnologia</option>
                                        <option value="Entrega" selected="@(evento.Filtros.Categoria == " Entrega")">Entrega</option>
                                        <option value="Serviços Gerais" selected="@(evento.Filtros.Categoria == " Serviços Gerais")">Serviços Gerais</option>
                                        <option value="Outro" selected="@(evento.Filtros.Categoria == " Outro")">Outro</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div style="display: flex; flex-direction: row; justify-content: center;">
                            <div class="form-group" id="CamposForm" style="display: flex; flex-direction: column; max-width: 300px; margin: 10px; width: 100%;">
                                <label class="control-label" id="labelsAddMeme" style="margin-right: 10px;">Local</label>
                                <input type="text" name="local" id="local" value="@evento.Filtros.Local" />
                            </div>
                        </div>
                        <div class="form-group" id="CamposForm" style="display: flex; flex-direction: row; max-width: 300px; margin: 10px; justify-content: center;">
                            <button class="btn btn-info" type="submit">Filtrar</button>
                        </div>
                    </div>
                }
            </form>
        </div>
    </div>

    <div id="PaiTabEventos">
        <div>
            <div class="column" style=" display: flex; flex-direction: column; align-items: center;">
                @foreach (var evento in Model)
                {
                    ViewBag.Id = evento.Id_Evento;
                    <div class="col-sm-6 mt-md-3" style="width: 70%;">
                        @if (evento.Id_Usuario_Adm == idusu)
                        {
                            <div class="card" style="border: 10px solid; border-color: #3ecb36;">
                                <div class="card-body">
                                    <h5 class="card-title" style="display: flex; flex-direction: row; justify-content: center; max-width: 100%;">@evento.Titulo</h5>
                                    <p class="card-text" style="display: flex; flex-direction: row; justify-content: center;">@evento.Descricao</p>
                                    @if (@evento.DataEvento == null)
                                    {
                                        <p class="card-text" style="display: flex; flex-direction: row; justify-content: center;">Data: Não informada</p>
                                    }
                                    else
                                    {
                                        <p class="card-text" style="display: flex; flex-direction: row; justify-content: center;">Data: @evento.DataEvento</p>
                                    }

                                    <a href="/evento/visualizar/@evento.Id_Evento" class="btn " style="background-color: #62c0a3; display: flex; flex-direction: row; justify-content: center;"><b>Visualizar</b></a>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="card" style="border: 10px solid; border-color: #283dab; ">
                                <div class="card-body">
                                    <h5 class="card-title" style="display: flex; flex-direction: row; justify-content: center; max-width: 100%;">@evento.Titulo</h5>
                                    <p class="card-text" style="display: flex; flex-direction: row; justify-content: center;">@evento.Descricao</p>
                                    @if (@evento.DataEvento == null)
                                    {
                                        <p class="card-text" style="display: flex; flex-direction: row; justify-content: center;">Data: Não informada</p>
                                    }
                                    else
                                    {
                                        <p class="card-text" style="display: flex; flex-direction: row; justify-content: center;">Data: @evento.DataEvento</p>
                                    }

                                    <a href="/evento/visualizar/@evento.Id_Evento" class="btn " style="background-color: #62c0a3; display: flex; flex-direction: row; justify-content: center;"><b>Visualizar</b></a>
                                </div>
                            </div>
                        }

                    </div>
                }
            </div>
            <div style="margin-top:10px">
                @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
            </div>
        </div>
    </div>
</div>


<script src="~/js/funcoes.js"></script>

