@model X.PagedList.IPagedList<SyrusVoluntariado.Models.Vaga>
@using X.PagedList.Mvc.Core;
@using X.PagedList;


@{
    //Layout = "_Layout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Palavras - Listagem";
}

@if (TempData["Mensagem"] != null) {
    <div class="alert alert-success" role="alert">
        @TempData["Mensagem"]
    </div>
}

<link href="/css/PagedList.css" rel="stylesheet" type="text/css" />
<link href="/css/FundoPaginas.css" rel="stylesheet" type="text/css" />


<div class="row">
    @foreach (var vaga in Model) {
        <div class="col-sm-6 mt-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@vaga.Titulo</h5>
                    <p class="card-text">@vaga.Descricao</p>
                    <p class="card-text">@vaga.DataVaga.ToString("dd/MM/yyyy")</p>
                    <a href="/vaga/visualizar/@vaga.Id" class="btn " style="background-color: #62c0a3;"><b>Visualizar</b></a>
                </div>
            </div>
        </div>
    }

</div>
<br />
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))

