@model List<BeaHelper.BLL.Models.Notificacao>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Notificações";
}

<div class="mt-md-3">
    @if (TempData["Mensagem"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["Mensagem"]
        </div>
    }
</div>

<div class="mt-md-3">
    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger alertemail" role="alert">
            @TempData["MensagemErro"]
        </div>
    }
</div>

<link href="/css/FundoPaginas.css" rel="stylesheet" type="text/css" />

<div id="TudoNotificacoes">
    <div id="NotificacaoFilho">
        @if (ViewBag.TotalNotificacoes > 0)
        {
            @foreach (var notificacao in Model)
            {
                <div class="card text-center" id="CardNotificacao">
                    @if (!notificacao.Flg_Visualizado)
                    {
                        <div class="card-header text-muted">
                            Nova Notificação
                        </div>
                        <a href="#" onclick="NotificacaoVisualizada(@notificacao.Id_Notificacao)" style="text-decoration:none">
                            <div class="card-body">
                                <p class="card-text">@notificacao.Descricao</p>
                            </div>
                        </a>
                    }
                    else
                    {
                        <a href="@notificacao.Url_Notificacao" style="text-decoration:none">
                            <div class="card-body">
                                <p class="card-text">@notificacao.Descricao</p>
                            </div>
                        </a>
                    }
                </div>
            }
        }
        else
        {
            <div class="card">
                <div class="card-body" style="display: flex; justify-content: space-around;">
                    <h5 class="card-title">
                        <p>Nenhuma Notificação</p>
                    </h5>
                </div>
            </div>
        }
    </div>
</div>
<script>
    function NotificacaoVisualizada(idNotify) {
        let SITE_URL = window.location.origin;
        $.ajax({
            method: "POST",
            url: SITE_URL + "/notificacao/notificacaoVisualizada/?idNotificacao=" + idNotify,
            contentType: "application/json"
        }).done(function (result) {
            //window.location.href = SITE_URL + result;
            window.location.href = result;
        }).fail(function (err) {
            console.log(err);
        });
    }
</script>
